# Aula 1 - Leitura de arquivos com o Polars

https://excelbianalytics.com/wp/downloads-18-sample-csv-files-data-sets-for-testing-sales/

## Vídeo 1.2 - Colocando um arquivo em dataframe

In [1]:
#url ='/content/drive/MyDrive/Alura/Cursos/4403 - Polars: manipulando tabelas/Projeto/dadocurso.zip'

In [2]:
#import zipfile

In [3]:
# Diretório onde o arquivo será extraído
#extract_path = '/content/drive/MyDrive/Alura/Cursos/4403 - Polars: manipulando tabelas/Projeto/'

In [4]:
# Extraia o conteúdo do arquivo ZIP
#with zipfile.ZipFile(url, 'r') as zip_ref:
#    zip_ref.extractall(extract_path)

#print("Arquivo descompactado com sucesso!")

In [5]:
import polars as pl

In [6]:
caminho_csv = '/content/drive/MyDrive/Alura/Cursos/4403 - Polars: manipulando tabelas/Projeto/dadocurso.csv'

In [7]:
df = pl.read_csv(caminho_csv)
df_original = df.clone()

In [8]:
df.head()

shape: (5, 14)
┌────────────┬─────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Região     ┆ País    ┆ Tipo de   ┆ Canal de  ┆ … ┆ Custo     ┆ Receita   ┆ Custo     ┆ Lucro     │
│ ---        ┆ ---     ┆ Item      ┆ Venda     ┆   ┆ Unitário  ┆ Total     ┆ Total     ┆ Total     │
│ str        ┆ str     ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆         ┆ str       ┆ str       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞════════════╪═════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Australia  ┆ Palau   ┆ Office    ┆ Online    ┆ … ┆ 524.96    ┆ 1.2508e6  ┆ 1.2604e6  ┆ -9584.792 │
│ and        ┆         ┆ Supplies  ┆           ┆   ┆           ┆           ┆           ┆           │
│ Oceania    ┆         ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ Europe     ┆ Poland  ┆ Beverages ┆ Online    ┆ … ┆ 31.79     ┆ 354546.4  ┆ 296918.6  ┆ 57627.8   │
│ North      ┆ Canada  ┆ Cereal    ┆ Online    ┆ … ┆ 117.11    ┆ 16949.68  ┆ 12062.33  ┆ 4887.35   │
│ America    ┆         ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ Europe     ┆ Belarus ┆ Snacks    ┆ Online    ┆ … ┆ 97.44     ┆ 172598.49 ┆ 137780.16 ┆ 34818.336 │
│            ┆         ┆           ┆           ┆   ┆           ┆ 6         ┆           ┆           │
│ Middle     ┆ Oman    ┆ Cereal    ┆ Offline   ┆ … ┆ 117.11    ┆ 1.1564e6  ┆ 822931.97 ┆ 333431.15 │
│ East and   ┆         ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ North      ┆         ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ Africa     ┆         ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
└────────────┴─────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

## Vídeo 1.3 - Analisando os dados

In [9]:
df.dtypes

[String,
 String,
 String,
 String,
 String,
 String,
 Int64,
 String,
 Int64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64]

In [10]:
df.describe()

shape: (9, 15)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ Região    ┆ País      ┆ Tipo de   ┆ … ┆ Custo     ┆ Receita   ┆ Custo     ┆ Lucro    │
│ ---       ┆ ---       ┆ ---       ┆ Item      ┆   ┆ Unitário  ┆ Total     ┆ Total     ┆ Total    │
│ str       ┆ str       ┆ str       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆ str       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 5000000   ┆ 5000000   ┆ 5000000   ┆ … ┆ 5e6       ┆ 5e6       ┆ 5e6       ┆ 5e6      │
│ null_coun ┆ 0         ┆ 0         ┆ 0         ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0      │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ null      ┆ null      ┆ null      ┆ … ┆ 187.65599 ┆ 1.1439e6  ┆ 938378.12 ┆ 205508.4 │
│           ┆           ┆           ┆           ┆   ┆ 1         ┆           ┆ 2412      ┆ 25247    │
│ std       ┆ null      ┆ null      ┆ null      ┆ … ┆ 175.70137 ┆ 1.3158e6  ┆ 1.1501e6  ┆ 451094.2 │
│           ┆           ┆           ┆           ┆   ┆ 9         ┆           ┆           ┆ 54368    │
│ min       ┆ Asia      ┆ Afghanist ┆ Baby Food ┆ … ┆ 6.92      ┆ 7.464     ┆ 6.92      ┆ -271780. │
│           ┆           ┆ an        ┆           ┆   ┆           ┆           ┆           ┆ 0        │
│ 25%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 56.67     ┆ 231366.2  ┆ 161925.12 ┆ 5065.57  │
│ 50%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 117.11    ┆ 658009.72 ┆ 467712.0  ┆ 80190.0  │
│           ┆           ┆           ┆           ┆   ┆           ┆ 8         ┆           ┆          │
│ 75%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 364.69    ┆ 1.5568e6  ┆ 1.1974e6  ┆ 258412.7 │
│ max       ┆ Sub-Sahar ┆ Zimbabwe  ┆ Vegetable ┆ … ┆ 524.96    ┆ 1.002405e ┆ 5.2496e6  ┆ 4.99865e │
│           ┆ an Africa ┆           ┆ s         ┆   ┆           ┆ 7         ┆           ┆ 6        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [11]:
df.select(pl.col(pl.Int64, pl.Float64)).describe()

shape: (9, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ ID do      ┆ Unidades   ┆ Preço     ┆ Custo     ┆ Receita   ┆ Custo     ┆ Lucro     │
│ ---        ┆ Pedido     ┆ Vendidas   ┆ Unitário  ┆ Unitário  ┆ Total     ┆ Total     ┆ Total     │
│ str        ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆ f64        ┆ f64        ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 5e6        ┆ 5e6        ┆ 5e6       ┆ 5e6       ┆ 5e6       ┆ 5e6       ┆ 5e6       │
│ null_count ┆ 0.0        ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0       │
│ mean       ┆ 5.4989e8   ┆ 4999.99106 ┆ 266.19061 ┆ 187.65599 ┆ 1.1439e6  ┆ 938378.12 ┆ 205508.42 │
│            ┆            ┆ 1          ┆ 6         ┆ 1         ┆           ┆ 2412      ┆ 5247      │
│ std        ┆ 2.5978e8   ┆ 2886.78700 ┆ 217.01527 ┆ 175.70137 ┆ 1.3158e6  ┆ 1.1501e6  ┆ 451094.25 │
│            ┆            ┆ 7          ┆ 3         ┆ 9         ┆           ┆           ┆ 4368      │
│ min        ┆ 1.00000321 ┆ 1.0        ┆ 9.33      ┆ 6.92      ┆ 7.464     ┆ 6.92      ┆ -271780.0 │
│            ┆ e8         ┆            ┆           ┆           ┆           ┆           ┆           │
│ 25%        ┆ 3.24965131 ┆ 2500.0     ┆ 109.28    ┆ 56.67     ┆ 231366.2  ┆ 161925.12 ┆ 5065.57   │
│            ┆ e8         ┆            ┆           ┆           ┆           ┆           ┆           │
│ 50%        ┆ 5.49764287 ┆ 4999.0     ┆ 205.7     ┆ 117.11    ┆ 658009.72 ┆ 467712.0  ┆ 80190.0   │
│            ┆ e8         ┆            ┆           ┆           ┆ 8         ┆           ┆           │
│ 75%        ┆ 7.74837243 ┆ 7500.0     ┆ 437.2     ┆ 364.69    ┆ 1.5568e6  ┆ 1.1974e6  ┆ 258412.7  │
│            ┆ e8         ┆            ┆           ┆           ┆           ┆           ┆           │
│ max        ┆ 9.99999892 ┆ 10000.0    ┆ 668.27    ┆ 524.96    ┆ 1.002405e ┆ 5.2496e6  ┆ 4.99865e6 │
│            ┆ e8         ┆            ┆           ┆           ┆ 7         ┆           ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [12]:
df.null_count()

shape: (1, 14)
┌────────┬──────┬─────────┬──────────┬───┬──────────┬─────────┬─────────────┬─────────────┐
│ Região ┆ País ┆ Tipo de ┆ Canal de ┆ … ┆ Custo    ┆ Receita ┆ Custo Total ┆ Lucro Total │
│ ---    ┆ ---  ┆ Item    ┆ Venda    ┆   ┆ Unitário ┆ Total   ┆ ---         ┆ ---         │
│ u32    ┆ u32  ┆ ---     ┆ ---      ┆   ┆ ---      ┆ ---     ┆ u32         ┆ u32         │
│        ┆      ┆ u32     ┆ u32      ┆   ┆ u32      ┆ u32     ┆             ┆             │
╞════════╪══════╪═════════╪══════════╪═══╪══════════╪═════════╪═════════════╪═════════════╡
│ 0      ┆ 0    ┆ 0       ┆ 0        ┆ … ┆ 0        ┆ 0       ┆ 0           ┆ 0           │
└────────┴──────┴─────────┴──────────┴───┴──────────┴─────────┴─────────────┴─────────────┘

In [13]:
nan_counts = {
    col: (
        # Contar NaN apenas para colunas float
        (df[col].is_nan().sum() if df[col].dtype in (pl.Int64, pl.Float64) else 0)
        # Contar null para todas as colunas
        + df[col].is_null().sum()
    )
    for col in df.columns
}

In [14]:
nan_counts

{'Região': 0,
 'País': 0,
 'Tipo de Item': 0,
 'Canal de Venda': 0,
 'Prioridade do Pedido': 0,
 'Data do Pedido': 0,
 'ID do Pedido': 0,
 'Data de Envio': 0,
 'Unidades Vendidas': 0,
 'Preço Unitário': 0,
 'Custo Unitário': 0,
 'Receita Total': 0,
 'Custo Total': 0,
 'Lucro Total': 0}

## Vídeo - 1.4 - Seleção de dados

In [15]:
df['Região'].unique()

shape: (7,)
Series: 'Região' [str]
[
	"Asia"
	"Central America and the Caribb…
	"Europe"
	"Middle East and North Africa"
	"Australia and Oceania"
	"North America"
	"Sub-Saharan Africa"
]

In [16]:
df_regions = df.filter((pl.col("Região") == "Europe") | (pl.col("Região") == "Asia"))

In [17]:
df_regions.shape

(2026538, 14)

In [18]:
df_regions.head()

shape: (5, 14)
┌────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Região ┆ País       ┆ Tipo de    ┆ Canal de  ┆ … ┆ Custo     ┆ Receita   ┆ Custo     ┆ Lucro     │
│ ---    ┆ ---        ┆ Item       ┆ Venda     ┆   ┆ Unitário  ┆ Total     ┆ Total     ┆ Total     │
│ str    ┆ str        ┆ ---        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│        ┆            ┆ str        ┆ str       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Europe ┆ Poland     ┆ Beverages  ┆ Online    ┆ … ┆ 31.79     ┆ 354546.4  ┆ 296918.6  ┆ 57627.8   │
│ Europe ┆ Belarus    ┆ Snacks     ┆ Online    ┆ … ┆ 97.44     ┆ 172598.49 ┆ 137780.16 ┆ 34818.336 │
│        ┆            ┆            ┆           ┆   ┆           ┆ 6         ┆           ┆           │
│ Europe ┆ Montenegro ┆ Personal   ┆ Online    ┆ … ┆ 56.67     ┆ 87418.408 ┆ 75767.79  ┆ 11650.618 │
│        ┆            ┆ Care       ┆           ┆   ┆           ┆           ┆           ┆           │
│ Europe ┆ Portugal   ┆ Cosmetics  ┆ Online    ┆ … ┆ 263.33    ┆ 2.5428e6  ┆ 1914409.1 ┆ 628346.1  │
│ Europe ┆ Germany    ┆ Personal   ┆ Offline   ┆ … ┆ 56.67     ┆ 504895.24 ┆ 437605.74 ┆ 67289.508 │
│        ┆            ┆ Care       ┆           ┆   ┆           ┆ 8         ┆           ┆           │
└────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [19]:
df = df.filter(df["País"] == "Germany")
df.head()

shape: (5, 14)
┌────────┬─────────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ Região ┆ País    ┆ Tipo de    ┆ Canal de   ┆ … ┆ Custo      ┆ Receita    ┆ Custo     ┆ Lucro     │
│ ---    ┆ ---     ┆ Item       ┆ Venda      ┆   ┆ Unitário   ┆ Total      ┆ Total     ┆ Total     │
│ str    ┆ str     ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---       ┆ ---       │
│        ┆         ┆ str        ┆ str        ┆   ┆ f64        ┆ f64        ┆ f64       ┆ f64       │
╞════════╪═════════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ Europe ┆ Germany ┆ Personal   ┆ Offline    ┆ … ┆ 56.67      ┆ 504895.248 ┆ 437605.74 ┆ 67289.508 │
│        ┆         ┆ Care       ┆            ┆   ┆            ┆            ┆           ┆           │
│ Europe ┆ Germany ┆ Clothes    ┆ Online     ┆ … ┆ 35.84      ┆ 101674.112 ┆ 41681.92  ┆ 59992.192 │
│ Europe ┆ Germany ┆ Meat       ┆ Online     ┆ … ┆ 364.69     ┆ 3.3535e6   ┆ 3.6236e6  ┆ -270040.6 │
│        ┆         ┆            ┆            ┆   ┆            ┆            ┆           ┆ 08        │
│ Europe ┆ Germany ┆ Cereal     ┆ Online     ┆ … ┆ 117.11     ┆ 1.4776e6   ┆ 1.0515e6  ┆ 426053.55 │
│ Europe ┆ Germany ┆ Baby Food  ┆ Offline    ┆ … ┆ 159.42     ┆ 422131.008 ┆ 329521.14 ┆ 92609.868 │
└────────┴─────────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘